[package]
name = "intl-lens-extension"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
zed_extension_api.workspace = true
